* {
    box-sizing:border-box;
}

html, body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    background: #333;
    overflow:hidde
}

.landing {
    position :relative;
    background-image: url('../img/ballpen-blur-close-up-461077.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.landing-inner
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    text-align:center;
    padding-top: 50px;
}

.landing h1 {
    font-size: 58px;
}
.landing p{
    font-size: 25px;
}

.countdown {
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.countdown div {

    padding: 20px;
    border:1px solid white;
    border-radius: 10px;
    opacity: 0.7;
    margin:5px;
    background: rgb(1, 1, 34);
}

.countdown div:first-child
{

    background: #17a2b8;
}
.countdown span
{
    display: block;
    font-size: 25px;

}

@media(max-width:650px)
{

    .landing img {
        width:70%;
    }
    .landing h1 {
        font-size: 40px;

    }
    .countdown{
        font-size:30px;
        flex-direction: column;
    }

    .countdown div {

        display: none;
    }

    .countdown div:first-child{

        display: block;
        width: 80%;
        padding: 10px;

    } 
}

@media(max-height:600px)
{

    img{

        width: 20%;

    }
    p {
        display: none;
    }

}

@media(max-height:400px)
{
    h1{

        display: none;
        padding-bottom: 40px;
    }

}